nav{
    background-color: aqua;
    
    display: flex;

    align-items: center;
}
ul{
    display: flex;
    width: 100%;
    justify-content:center;  
}
li{
    padding: 10px 20px;
    font-size:x-large;
    text-transform:uppercase;
}