@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  /* background-color: rgb(208, 221, 221); */
}

.left {
  grid-area: left;
}
.main {
  grid-area: main;
}
.right {
  grid-area: right;
}

.grid-container {
  display: grid;
  grid-template-areas: "left main main main main right";
  text-align: center;
  font-size: 30px;
  border: 1px solid black;
}
.left,
.main,
.right {
  border: 1px solid black;
  border-radius: 20px;
  margin: 2px;
}
.left{
    float: left;
    min-width: 300px;
}
.right {
  float: left;
  min-width: 300px;
  display: flex;

}
.main {
  text-align: justify;
}
.btn{
  background-color: black;
  border: 1px solid black;
  width: 100px;
  margin: 20px auto;
  border-radius: 20px;
  /* margin-left: 20px; */
  cursor: pointer;
  color: white;
  padding: 5px;
}
.btndiv{
  margin: auto;
  width: auto;
  display:inline-block;
}

